.timer{
    margin-top: 32px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    width: 588px;
    opacity: 0;
    animation: slideAndFade 0.9s ease forwards;
    animation-delay: 0.7s;
}
.timer-label-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer-label{
    display: block;
    position: absolute;
    width: 132px;
    height: 54px;
}
.label-text{
    z-index: 10;
    font-size: 16px;
    font-weight: 400;
    color:white;
}

.timer-item-value, .timer-separator{
    font-size: 72px;
    font-weight: 600;
    color:#162C4E;
}
.timer-item{
    width:45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 1500px){
    .timer-item-value, .timer-separator{
        font-size: 36px;
    }
    .label-text{
        font-size: 12px;
    }
    .timer-label{
        height: 44px;
        width: 64px;
    }
    .timer {
        margin-top: 40px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1500px) {
    .timer{
        width: 358px;
    }
}
@media screen  and  (max-width: 767px) {
    .timer{
        width: 310px;
    }
}
@keyframes slideAndFade {
    0% {
        transform: translateY(-30%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
