.modal {
    z-index: 100;
    background-color: rgba(22, 44, 78, 0.69);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal.active{
    opacity: 1;
    pointer-events: all;
}
.modal-block{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 370px;
    width: 320px;
    border-radius: 2px;
}
.close-icon-block {
    position: absolute;
    right: 16px;
    top:24px;
    height: 24px;
    width: 24px;
    cursor: pointer;
}
.modal-content{
    position: absolute;
    top: 60px;
}
.modal-title {
    text-align: center;
    color: #162C4E;
    font-weight: bold;
    font-size: 36px;
}
.modal-message{
    color: #000000CC;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    padding:0 16px 0 24px ;
}
.modal-cancel-btn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:240px;
    width: 200px;
    height: 60px;
    background: #1D4169;
    color:#FFFFFFFF;
    font-size: 18px;
    border-radius: 40px;
    transform: translateX(-50%);
    left: 50%;
    cursor: pointer;
}
.modal-cancel-btn:hover{
    box-shadow: 0 0 10px 0 rgba(29,65, 105, 0.9) ;

}

