.input-container {
    display: flex;
    align-items: center;
}

.input-field {
    font-family: "Roboto Req", sans-serif;
    font-size: 18px;
    border-radius: 40px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    width: 440px;
    height: 59px;
    outline: none;
    padding: 10px 55px 10px 20px;
}
.input-field:focus {
    border-color:#00bcd4;
    background-color: #f0f0f0;
}

.input-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 43px;
    height: 43px;
    background-color: red;
    color: white;
    border: none;
    margin-left: -50px;
    cursor: pointer;
}
.input-button:hover{
    box-shadow: 0 0 10px 0 rgba(255,0, 0, 0.8) ;
}

.error{
    color: red;
    text-align: center;
}

.form {
    display: inline-flex;
    flex-direction: column;;
    align-items: center;
    height: 48px;
}

@media screen and (min-width: 768px) and (max-width: 1500px) {
    .input-field{
        width: 360px;
        height: 41px;
        font-size: 14px;
    }
    .input-button {
        width: 33px;
        height: 33px;
        margin-left: -38px;
    }
    .form{
        margin-top: 59px;
    }
}

@media screen and  (max-width: 767px) {
    .input-field{
        width: 280px;
        height: 41px;
        font-size: 14px;
    }
    .input-button {
        width: 33px;
        height: 33px;
        margin-left: -38px;
    }
    .form{
        margin-top: 50px;
    }
}
