* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    scrollbar-width: none;
}

.event-block {
    padding-bottom: 10px;
    display: block;
    opacity: 0;
    animation: slideAndFade 0.7s ease forwards;
    animation-delay: 0.9s;
}

.main-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    position: relative;
}

.main {
    flex: 1;
}

.second-block {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 192px;
    background: #162C4E;
    z-index: 1;
}

.left-top-figure {
    position: absolute;
    width: 473px;
    height: auto;
    left: 0;
    top: 0;
    opacity: 0;
    animation: slideAndFadeLeftDiagonally 0.5s ease forwards;
    animation-delay: 0.4s;
}

.right-top-figure {
    position: absolute;
    width: 271px;
    height: auto;
    right: 0;
    top: 0;
    opacity: 0;
    animation: slideAndFadRightDiagonally 0.5s ease forwards;
    animation-delay: 0.5s;
}

.logo {
    display: block;
    margin: 60px auto 0;
    width: 190px;
    height: 60px;
    opacity: 0;
    animation: slideAndFade 0.5s ease forwards;
}

.title {
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    line-height: 104%;
    text-transform: uppercase;
    color: #a4adba;
    -webkit-text-stroke: 1px #9c9c9c;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
}

.subtitle {
    max-width: 430px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 8px;
    line-height: 150%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    -webkit-text-stroke: 1px #000000;
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.8);
}

.main.title, .main.subtitle {
    opacity: 0;
    animation: slideAndFade 0.5s ease forwards;
    animation-delay: 0.5s;
}
.main.title {
    margin-top: 95px;
    margin-bottom: 0;
}


.event-page-message {
    font-size: 18px;
    font-weight: 400;
    margin-top: 72px;
    text-align: center;;
}

.go-the-event-button {
    margin: 10px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 16px 20px;
    background: #1D4169;
    border-radius: 40px;
    font-size: 18px;
    width: 240px;
    cursor: pointer;
    text-decoration: none;
}

.go-the-event-button:hover {
    box-shadow: 0 0 10px 0 rgba(29, 65, 105, 0.6);
}

.arrow-right-icon {
    width: 20px;
    height: 20px;
}

.accordion-container {
    padding: 99px 0;
}

.accordion {
    width: 80%;
    background: red;
    margin: 40px auto;
}

.button-other{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color:white;
    font-size: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1500px) {
    .second-block {
        height: 160px;
        position: relative;
        bottom: 0;
        width: 100%;
        padding: 10px;
    }

    .logo {
        margin-top: 100px;
    }

    .left-top-figure {
        width: 249px;
    }

    .right-top-figure {
        width: 183px;
    }

    .title {
        font-size: 36px;
        -webkit-text-stroke: unset;
        text-shadow: none;

    }

    .subtitle {
        font-size: 16px;
        width: 300px;
        -webkit-text-stroke: unset;
        text-shadow: none;

    }

    .event-page-message {
        font-size: 16px;
        margin-top: 40px;
        color: rgba(0, 0, 0, 0.8);
    }

}

@media screen and (min-width: 1501px){
    .button-other{
        position: absolute;
        right: 111px;
    }
    .accordion-container {
        display: none;
    }
}

@media screen and  (max-width: 767px) {
    .second-block {
        height: auto;
        min-height: 141px;
        position: relative;
        bottom: 0;
        width: 100%;
    }

    .logo {
        margin-top: 80px;
        width: 128px;
        height: 40px;
    }

    .left-top-figure {
        width: 30%;
    }

    .right-top-figure {
        width: 30%;
    }

    .title {
        font-size: 36px;
        -webkit-text-stroke: unset;
        text-shadow: none;

    }

    .subtitle {
        font-size: 16px;
        width: 300px;
        -webkit-text-stroke: unset;
        text-shadow: none;
    }

    .event-page-message {
        font-size: 16px;
        margin-top: 40px;
    }
    .button-other{
        width: 128px;
        font-size: 16px;
    }
}


@keyframes slideAndFade {
    0% {
        transform: translateY(-50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideAndFadeLeftDiagonally {
    0% {
        transform: translateY(-50%) translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0) translateX(0);
    }
}

@keyframes slideAndFadRightDiagonally {
    0% {
        transform: translateY(-50%) translateX(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0) translateX(0);
    }
}

